@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

html {
	font-family: Calibri;
}

body {
	margin: 0;
	padding: 0;

	min-width: 850px;
}

#header {
	height: 40px;
	padding: 10px 15px;

	background-color: #F3F3F3;
	border-bottom: 3px solid #EEE;
}

#logo {
	font-family: Fredoka One;
	font-size: 35px;
	color: #00B2EE;
}

#userpanel {
	float: right;
	clear: right;
	display: inline-block;
}

#user {
	float: left;
	clear: left;
}

#user span {
	text-align: right;
}

#username {
	display: block;

	font-size: 18px;
	font-weight: bold;
	color: #999;
}

#logout {
	display: block;

	font-size: 11px;
	color: #BBB;

	cursor: pointer;
}

#logout:hover {
	color: #00B2EE;
	text-decoration: underline;
}

#userimage {
	float: right;
	clear: right;

	display: inline-block;

	height: 38px;
	width: 38px;
	margin-left: 17px;
	border-radius: 100px;
}


#mainbox {
	margin: 60px auto;
	min-width: 800px !important;

	background-color: #F9F9F9;
	border: 3px solid #EEE;
	border-radius: 15px;
}

/*//////////////////////////////////////////////////////////////////////////////////
   ADD CLASS BOX
//////////////////////////////////////////////////////////////////////////////////*/

#addClassTitle {
	margin-top: 10px;
	margin-left: 20px;
}

#addClassTitle * {
	display: inline-block;
}

#addClassCategories {
	margin-bottom: 22px;
}

#addCategoriesTitle {
	margin: 10px 0 10px 20px;
}

#addCategoriesTitle * {
	display: inline-block;
}

.newCategory {
	margin-left: 28px;
	margin-bottom: 3px;
}

.newCategory * {
	display: inline-block;
}

.uiField {
	height: 20px;

	border: 2px solid #CCC;
	border-radius: 2px;
	padding-left: 5px;
}

.interfaceLabel {
	font-size: 20px;
	font-weight: bold;
	color: #555;
	margin: 0 8px;
}

/*//////////////////////////////////////////////////////////////////////////////////
  CALCULATOR BOX
//////////////////////////////////////////////////////////////////////////////////*/

.calculatorItem {
	margin-bottom: 10px;
	margin-left: 20px;
}

.calculatorItem * {
	display: inline-block;
}

.calculatorItem .uiField {
	width: 35px;
}

#calculator .categoryTitle {
	margin-bottom: 10px;
}

/*//////////////////////////////////////////////////////////////////////////////////
  CLASS INTERFACE HEADER
//////////////////////////////////////////////////////////////////////////////////*/

#classHeader {
	display: block;

	height: 75px;
}

#classSelect {
	vertical-align: middle;

	margin: 20px;
	padding-left: 5px;

	height: 35px;
	width: 200px;

	border: 2px solid #EEE;
	border-radius: 5px;

	outline: none;
}

#classGrade {
	float: right;

	margin-top: 15px;
	margin-right: 20px;
}

#classGradeNumber {
	float: left;
}

#classGradeNumber p {
	margin: 0;
	padding: 0;
	font-size: 35px;
	font-weight: bold;
	color: #999;
}

#classGradeLetter {
	float: right;
	margin-top: 12px;
	margin-left: 15px;
}

#classGradeLetter p {
	/* A #32CD32, B #0BB5FF, C #FFC125, D #BF5FFF, F #E3170D */
	margin: 0;
	padding: 0;
	padding-top: 1px;

	border-radius: 100px;

	height: 20px;
	width: 21px;

	background-color: #0BB5FF;

	text-align:center;

	font-size: 14px;
	color: #FFF;
	font-weight: bold;
}

.classContent {
	padding-top: 20px;
}

/*//////////////////////////////////////////////////////////////////////////////////
  CLASS INTERFACE BOX ELEMENTS
//////////////////////////////////////////////////////////////////////////////////*/

.categoryBox {
	margin: 0 auto 20px auto;
}

.contentWindow {
	border: solid 3px #EEE;
	border-radius: 7px;
	background-color: #FFF;
}

.categoryHeader {
	height: 45px;
}

.categoryTitle {
	display: inline-block;
	margin: 0;
	padding: 8px 0 0 9px;

	font-size: 25px;
	font-weight: bold;
	color: #999;

}

.categoryStats {
	float: right;

	margin: 7px 15px 0 0;
}

.categoryStats * {
	display: inline;
}

.categoryWeight {
	margin-right: 15px;

	text-align: right;
	color: #BBB;

	font-variant: small-caps;
}

.categoryGrade {
	font-size: 25px;
	font-weight: bold;
	color: #999;
}

/* Green button in assignment header */
.addAssignment {
	float: right;
	margin: 14px 9px 0 0;
	padding: 0 0 0 0;

	height: 16px;
	width: 16px;

	background-color: #BDFCC9;

	border: 2px solid #32CD32;
	border-radius: 2px;

	font-family: Consolas;
	font-size: 10px;
	font-weight: bold;
	color: #32CD32;
	text-align: center;

	cursor: pointer;
	outline: none;
}

/* Dropdown list of assignments in a category */
.categoryMenu {
	/*display: none;*/
	margin: 0 auto;
	padding-top: 7px;

	border: solid 3px #EEE;
	border-radius: 0 0 7px 7px;
	border-top: none;

	background-color: #FFF;
}

/*//////////////////////////////////////////////////////////////////////////////////
  ASSIGNMENT ELEMENTS
//////////////////////////////////////////////////////////////////////////////////*/

.assignment {
	display: block;
	margin: 0 7px 7px 7px;

	height: 35px;

	border: 2px solid #EEE;
	border-radius: 5px;

	background-color: #FDFDFD;
}

/* Assignment status indicator elements */
.assignmentIndicator {
	float: left;
	display: inline-block;
	margin: 10px 0 0 10px;

	height: 16px;
	width: 16px;

	border-radius: 100px;

	font-weight: bold;
	font-size: 13px;
	text-align: center;
}

.aiNeutral {
	height: 8px;
	width: 8px;
	border: 4px solid #42C0FB;
}

.aiComplete {
	background-color: #32CD32;
}

.aiWarning {
	background-color: #FFC125;
}

.aiLate {
	background-color: #E3170D;
	border-radius: 2px;
	color: #FFF;
}

.aiWarning::after, .aiLate::after {
	content: "!";
}

.assignmentTitle {
	float: left;
	display: inline-block;
	margin: 4px 0 0 15px;

	font-size: 22px;
	font-weight: bold;
	color: #555;
}

.assignmentInfo {
	float: right;
	display: inline-block;
}

.assignmentInfo * {
	display: inline-block;
	margin: 2px;
}

.dueDate {
	color: #BBB;
	font-variant: small-caps;
	margin-right: 15px;
}

.assignmentGrade {
	font-size: 25px;
	font-weight: bold;
	color: #999;
	margin-right: 15px;
}

.editButton {
	float: right;
	margin: 9px 9px 0 0;
	padding: 0;

	height: 18px;
	width: 31px;

	background-color: #C1F0F6;

	border: 2px solid #42C0FB;
	border-radius: 2px;

	font-size: 12px;
	font-weight: bold;
	color: #42C0FB;
	text-align: center;
	font-variant: small-caps;

	cursor: pointer;
	outline: none;
}

.emptyMessage {
	margin: 0 0 5px 7px;
	padding: 0;

	font-weight: bold;
	color: #999;
}

.clear {
	clear: both;
}

.error {
  color: red;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}
