@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

html * {
  font-family: Calibri;
}

body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;
}

.errors {
  border: red;
  color: red;
  list-style: none;
}

#login {
  margin: 0 auto;
  padding: 0px 30px;

  width: 300px;

  background-color: #F9F9F9;
  border: 4px solid #EEE;
  border-radius: 10px;
}

#login * {
  display: block;
}

.entry {
  margin: 10px 0;
	padding-left: 8px;

	width: 100%;
	height: 35px;

	border: solid 2px #DDD;
	border-radius: 5px;

	font-size: 15px;

	box-sizing: border-box;
}

.entry:focus {
  background-color: lightgreen;
  outline-style: none;
}

button {
  margin: 30px auto 20px auto;

  border: 4px solid #BBB;
  border-radius: 15px;
  background-color: #FFF;

  color: #BBB;
  font-size: 30px;
  font-weight: bold;

  width: 175px;
  height: 50px;

  transition: .25s;
}

button:focus {
  outline: none;
}

button:active {
  transition: 0s;
  border-color: #00B2EE;
  color: #00B2EE;
}

button:hover {
  border-radius: 6px;
  cursor: pointer;
}

#logo {
  margin: 40px auto;
  padding: 0;

  text-align: center;

  font-family: Fredoka One;
  color: #00B2EE;
  font-size: 50px;

}

#switch {
  width: 100%;
  text-align: center;
  margin: 10px 0 20px 0;
  padding: 0;

  color: #00B2EE;
  cursor: pointer;
}

#firstnamechange, #lastnamechange, #emailchange, #password2change {
  display: block;
}

#firstname, #lastname, #email, #password2 {
  display: none;
}